.wrapper {
    display: flex;
    width: 70% ;
    margin: auto;
}

.wrapper img {
    width: 300px;
    margin-right: 50px;
}

.wrapper h1 {
    text-align: left;
}

.wrapper button {
    width: 150px;
    text-align: center;
}